<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>aprimeirona</servlet-name>
        <servlet-class>br.eu.ceub.progweb.servlets.OlaMundo</servlet-class>
    </servlet>
                
    <servlet-mapping>
        <servlet-name>aprimeirona</servlet-name>
        <url-pattern>/oi</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>segundaservlet</servlet-name>
        <servlet-class>br.eu.ceub.progweb.servlets.AdeusMundo</servlet-class>
   
        <init-param>
        <param-name>pais</param-name>
        <param-value>Brasil</param-value>
    </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>segundaservlet</servlet-name>
        <url-pattern>/tchau</url-pattern>
    </servlet-mapping>
</web-app>
